.modalMovie {
    margin-bottom: 0 !important;
    height: 100%;
}

.modalMovie__poster {
    padding: 0 !important;
    height: 100%;
}

.modalMovie__info {
    padding: 0 !important;
}

.modalMovie__header {
    padding: 0.7rem;
    position: relative;
    right: 1rem;
    margin-top: 1rem;
    background: white;
    box-shadow: 4px 4px 16px 0 rgba(0,0,0,0.2), -4px -4px 16px 0 rgba(0,0,0,0.2);

}

.modalMovie__body {
    padding-left: 0.7rem;
}

.modalMovie__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}