.modalMovie {
    background-color: white;
    margin-bottom: 0 !important;
    height: 100%;
}

.modalMovie__poster {
    padding: 0 !important;
    height: 100%;
}

.modalMovie__body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.modalMovie__title {
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    font-weight: 300;
}

.modalMovie__genreAndBadges {
    margin-bottom: 0;
}

.modalMovie__genre {
    margin: 0.75rem 0;
}

.modalMovie__badges {
    margin: 0.75rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modalMovie__badgePill {
    background-color: #CCCCCC;
    border-radius: 15px;
    padding: 3px 6px;
    font-weight: 500;
    margin-right: 0.75rem;
    margin-bottom: 3px;
}

.modalMovie__badgePill:last-child {
    margin-right: 0;
}

.modalMovie__awards {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.movieAwards__icon {
    text-align: center;
    max-width: 96px;
}

.movieAwards__icon--withoutAward {
    filter: grayscale(100%);
}

@media screen and (max-width: 600px) {
    .modalMovie {
        max-width: 300px;
    }
}

@media screen and (min-width: 601px) {
    .modalMovie {
        height: 100%;
        width: 70%;
        max-width: 700px;
    }

    .modalMovie__header {
        background: white;
        padding: 1.25rem;
        position: relative;
        right: 1rem;
        margin-top: 1rem;
        margin-right: 0.5rem;
        box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
    }

    .modalMovie__info {
        padding: 0 !important;
    }
}

@media screen and (min-width: 993px) {
    .modalMovie {
        width: 70% !important;
    }

    .modalMovie__badges {
        text-align: right;
        padding-left: 0 !important;
    }
}