main {
    width: 100%;
}

.moviesCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    margin: 0 auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__imagem {
    width: 100%;
    height: 80%;
}

.card__info{
    height: 20%;
    padding: 0 10px;
    text-align: center;
}

.pagination {
    text-align: center;
}
